<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Pacientes</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>

<body>

<div class="container mt-5">

    <h2>Cadastro de Pacientes</h2>

    <!-- Mensagem de sucesso -->
    <div th:if="${mensagem}"
         class="alert alert-success">

        <span th:text="${mensagem}"></span>

    </div>

    <!-- Formulário -->

    <form th:action="@{/pacientes/salvar-paciente}"
        th:object="${paciente}"
        method="post">

        <input type="hidden" th:field="*{id}" />


        <div class="mb-3">

            <label>Nome:</label>

            <input type="text" class="form-control" th:field="*{nome}">
            <div class="text-danger" th:errors="*{nome}"></div>

        </div>


        <div class="mb-3">

            <label>CPF:</label>

            <input type="text"
                   class="form-control"
                   th:field="*{cpf}">
            <div class="text-danger" th:errors="*{cpf}"></div>
        </div>


        <div class="mb-3">

            <label>Telefone:</label>

            <input type="text"
                   class="form-control"
                   th:field="*{telefone}">
            <div class="text-danger" th:errors="*{telefone}"></div>
        </div>


        <div class="mb-3">

            <label>Email:</label>

            <input type="email"
                   class="form-control"
                   th:field="*{email}">
            <div class="text-danger" th:errors="*{email}"></div>
        </div>


        <button type="submit"
                class="btn btn-primary">

            Salvar

        </button>

    </form>


    <hr>

    <h3>Pacientes cadastrados</h3>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>

            <tr th:each="paciente : ${listaPacientes}">

                <td th:text="${paciente.id}"></td>
                <td th:text="${paciente.nome}"></td>
                <td th:text="${paciente.cpf}"></td>
                <td th:text="${paciente.telefone}"></td>
                <td th:text="${paciente.email}"></td>

                <td>

                    <a th:href="@{/pacientes/excluir/{id}(id=${paciente.id})}"
                    class="btn btn-danger btn-sm"
                    onclick="return confirm('Tem certeza que deseja excluir este paciente?')">
                        Excluir
                    </a>

                    <a th:href="@{/pacientes/editar/{id}(id=${paciente.id})}"
                    class="btn btn-warning btn-sm">
                        Editar
                    </a>

                </td>

            </tr>

        </tbody>

    </table>

    <a href="/"
       class="btn btn-secondary">

       Voltar

    </a>

</div>

</body>
</html>